span.logo {
    text-align: center;
    color: #285c00;
    font-size:50px;
}

h2 {
	text-align: center;
    color: #D3D3D3;
}

body {
	background-color:black;
	color:white;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;     
}

inner {
    width: 80%;
    margin: 0 auto; 
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 10em
}

div.indent {
	text-indent: 25px;
}

div.blocktext {
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width: 15em;
    font-size:xx-small;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;    
    float: right;
}