<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>RFP365 Card Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>    
   
    <link href="../static/css/jquery-ui.theme.min.css"
          th:href="@{css/jquery-ui.theme.min.css}" rel="stylesheet" media="screen"/> 
    <link href="../static/css/jquery-ui.min.css"
          th:href="@{css/jquery-ui.min.css}" rel="stylesheet" media="screen"/> 
    <link href="../static/css/jquery-ui.structure.min.css"
          th:href="@{css/jquery-ui.structure.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/rfp365.css"
          th:href="@{css/rfp365.css}" rel="stylesheet" media="screen"/>      
                                   
    <script>  
    var RestGet = function() {
    	var p = document.getElementById("players").value;
    	var c = document.getElementById("cards").value;
    	var params = {players:p, cards:c}
    	
    	if ( p == null || p == "" || c == null || c == "" ) {
    		$('#container').append('<div class="indent"><p>Please populate all fields within the Configuration section</p></div>');
    		return;
    	}
            $.ajax({
            type: 'GET',
            url:  '/dealCards',
            data: params,   
            cache: false,
            success: function(data) {
            	//document.getElementById(container).innerHTML = "";
            	saveValuesLocally();
            	            	
                $.each($.parseJSON(JSON.stringify(data)), function(index, value) {
                    $('#container').append('<div class="indent"><p>' + index + ' - ' + value + '</p></div>');                                    
                });
            },
       });
    }  
    
    function saveValuesLocally() {
    	var cards = document.getElementById("cards");
    	var players = document.getElementById("players");    	    	
    	
    	if ( cards.value == null || cards.value == "" ) {
    		cards.className += "ui-state-error";
    		cards.placeholder = "Required Field";
    	} 
    	else if ( players.value == null || players.value == "" ) {
    		players.className += "ui-state-error";
    		players.placeholder = "Required Field";
    	}    	    	
    	else if (typeof(Storage) !== "undefined") {
    		//Store		    		 
		     localStorage.setItem("resultcards", cards.value);		     
		     localStorage.setItem("resultplayers", players.value);	
		     
		     document.getElementById("prevcards").innerHTML = "Previousely entered " + cards.value;		     
		     document.getElementById("prevplayers").innerHTML = "Previousely entered " + players.value;
		     document.getElementById("cards").value = "";
		     document.getElementById("players").value = "";
    	}
    }
   	
    $(function() {
        $( "#accordion" ).accordion({
          collapsible: true
        });
      });
    </script>
       
          
</head>
<body>
	<div id="page-wrap">
	
		<span id="logo"><img th:src="@{/images/RFP365-logo_white_large.png}"/></span>
		
		<h2>Card Game</h2>
		
		<div id="accordion" class="inner">
		  <h3>Configuration (collapsable)</h3>
		  <div>
		    <p class="blocktext"><label for="players">Number of Players: </label><input id="players" title="Enter the total number of individuals that will be playing." placeholder="Total players" type="number"/></p>
		    <div class="blocktext" id="prevplayers"></div>
		    <p class="blocktext"><label for="cards">Number of Cards: </label><input id="cards" title="Enter the total number of cards that will be dealt per hand." placeholder="Total cards per hand" type="number"/></p>
		    <div class="blocktext" id="prevcards"></div>
		  </div>
		</div>
		
		<div>	
			<div id="container"></div> 	
			<div>&nbsp;</div>  	
			<button type='button' onclick='RestGet()'>Deal Cards</button>			
		</div>		
	</div>
	
	<script>
	 	// Check browser support
		if (typeof(Storage) !== "undefined") {
		     // Retrieve
		     var resultcards = localStorage.getItem("resultcards");
		     var resultplayers = localStorage.getItem("resultplayers");
		     document.getElementById("prevcards").innerHTML = "Previousely entered " + resultcards;		     
		     document.getElementById("prevplayers").innerHTML = "Previousely entered " + resultplayers;
		} else {
		     document.getElementById("prevcards").innerHTML = "Sorry, your browser does not support Web Storage...";
		} 	 	 	
    </script>	
</body>
</html>